<h1>Select the countries you think will qualify</h1>
<%= form_for @conn, qualified_path(@conn, :update), [as: :qualifieds], fn f -> %>
  <%= for country <- @countries do %>
    <%= checkbox(f, String.to_atom("country[#{country.id}]"), value: is_qualified(@qualifieds, country)) %>
    <%= label(f, "country[#{country.id}]", country.name) %>
  <% end %>
  <%= submit "Save", class: "btn btn-primary" %>
<% end %>
